
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f4f7f6;
    color: #333;
    padding-top: 50px;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}
